body {
  -webkit-font-smoothing: antialiased;
  background:#eee;
  color: #555;
  font-family: sans-serif;
  ul {
    list-style:none;
    padding:0 1em;
    li {
      margin:0;
      padding:0;
    }
  }
}
